.Toolbar {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0; /* ?? */
    color: #4b4c4d;
    background-color: rgb(224, 224, 224);
    display: flex;
    align-items: center;
    
    z-index: 10;
}

.ToolbarContent {
    height: 100%;
    display: flex;
    width: 100%;
    /* padding: 0 20px; */
    box-sizing: border-box;
}

.ToolbarContent .Logo {
    height: 100%;
    width: 25%;
    display: flex;
    font-size: 25px;
    font-weight: bold;
}

.ToolbarContent .Logo p {
    margin: auto 15px;
}

.ToolbarContent nav {
    width: 55%;
    height: 100%;
    display: flex;
}

.ToolbarContent .Bar {
    display: none;
}


@media only screen and (max-width: 768px) {
    
    .ToolbarContent nav {
       display: none;
    }

    .ToolbarContent .Bar {
        display: flex;
        width: auto;
        align-items: center;
        z-index: 5;
        /* border: 2px black;
        color: rgb(224, 224, 224);
        background-color:  #949697;;
        border-radius: 10px; */
        margin: 5px;
    }
    .ToolbarContent .Logo {
        width: 100%;
        margin: auto;
        box-sizing: border-box;
        align-items: center;
        position: absolute;
        top: 0;
    }
    .ToolbarContent .Logo p {
        margin: auto;
    }
    
   
}
