.BookAppointmentContainer {
    width: 100%;
    background-color: rgb(209, 203, 201);
}

.BookHeading {
    width: 100%;
    background-color: cornflowerblue;
    height: 200px;
    box-sizing: border-box;
    display: flex;
}

.BookHeading h1 {
    margin: auto;
}

.BookFormContainer {
    width: 100%;
    display: flex;
}

.BookForm {
    width: 60%;
    margin: auto;
}
