.SubService {
    width: 70%;
    margin: 10px 10px; 
}

.SubService h3 {
    text-align: center;
    font-size: 40px;
    margin: 10px;
}
.ServicesContainer {
    display: flex;

}

.Services {
    display: inline-block;
    margin: 10px auto;
    box-sizing: border-box;
}



