.ServiceContainer {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 10px;
    /* border: 1px solid red; */
    box-sizing: border-box;

}
.ServiceHeader {
   height: 450px;
   display: flex;
   flex-flow: column;
   /* text-align: center; */
    
}
.ServiceHeader img {
    width: 100%;
    height: 80%;
}
.ServiceHeading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ChildServicesContainer {
    width: 60%;
    margin: 10px auto;
    border: 1px solid green;
}

