.Layout {
    display: flex;
    flex-direction: column;
}

.Content {
    flex: 1 0 auto; /* ?? */
    margin-top: 60px;
}

main {
    width: 100%;
    min-height: 500px;
    display: flex;
    background-color:rgb(216, 216, 216);
}