.ImageSlider {
    position: relative;
    height: 400px;
    width: 100%;
    /* border: 2px solid rgb(255, 0, 0); */
    display: flex;
    box-sizing: border-box;
    
}

img {
    height: 100%;
    width: 100%;
}