.ImageSlider {
    position: relative;
    height: 400px;
    width: 100%;
    border: 5px solid red;
    top: 10px;
    display: flex;
    box-sizing: border-box;
    
}

img {
    height: 100%;
    width: 100%;
    
}