.NavigationItems {
    margin: auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    height: 100%;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .NavigationItems {
        flex-flow: row;
    }
}