.Button {
    min-width: 120px;
    max-width: 200px;
    font-size: 15px;
    border: none;
    background-color: rgb(253, 144, 144);
    cursor: pointer;
    font-weight: bold;
    padding: 20px;
    margin: 10px;
    color: rgb(43, 0, 0);
    border-radius: 5px;
}

.Button:hover {
    background-color: rgb(146, 39, 39);
    color: white;
}